{% extends "layout.html" %}

{% block title %}My Page{% endblock %}

{% block content %}
<h1>This is the index page</h1>

<!-- Adds the navigation partial -->
{% include "partials/navigation.html" %}

<!-- Importing Nunjucks Macro -->
{% import 'macros/nav-macro.html' as nav %}
<!-- Creating the navigation with activePage = 'home' -->
{{nav.active('home')}}

<div class="gallery">
  <!-- Loops through "images" array -->
  {% for image in images %}
  <div class="gallery__item">
    <img src="{{image.src}}" alt="{{image.alt}}">
  </div>
  {% endfor %}
</div>

{% endblock %}