<!doctype html>
<html class="no-js" lang="fr">
<head>
		<meta charset="UTF-8">
		<title>{% block title %} {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/styles.css" media="all">

		<!-- Google fonts -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<!-- You write code for this content block in another file -->
  {% block content %} {% endblock %}

	<script src="js/scripts.js" type="text/javascript"></script>
</body>
</html>